
//Variables porté globale (pour le rating.jsx)
:root {
    --priColor: #FF6060;
    --bgcGrid: #E3E3E3;
  }

//Variables réutilisable scss::

//Colors
$bgcFooter: #000;
$bgcGrid: #F6F6F6;
$txtWhite: #fff;
$priColor: #FF6060;

//Fonts
$fontFamily: 'Montserrat', sans-serif;