
.collapse__item {
  margin: 0 auto;
  font-family: $fontFamily;
}

.collapse__ctn {
  margin: 0 auto;
  padding: 50px 0 50px 0;
}
.about .collapse__ctn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  
}


.about .collapse__ctn .collapse__item {
  width: 80%;
  margin: 0 auto;
}

.fiches .collapse__ctn {
  display: flex;
  flex-direction: row;
  gap: 50px ;
  align-items: start;
  width: 80%;
  margin: 0 auto;
}

.fiches .collapse__ctn .collapse__item {
  width: 50%;
}

@media (max-width:960px){
  .fiches .collapse__ctn {
    flex-direction: column;
  }
  
  .fiches .collapse__ctn .collapse__item {
    width: 100%;
  }

}
.collapse__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $priColor;
  color: $txtWhite;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer; 
}



// Classe pour la flèche tournée
.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

// Ajoutez cette classe pour la rotation de 180 degrés lorsque la section est ouverte
.arrow-icon.rotate {
  transform: rotate(-180deg);
}

// Classe pour la section ouverte
.collapse__title.open {
  // Ajoutez ici les styles que vous souhaitez appliquer lorsque la section est ouverte
  background-color: $priColor;
}

.collapse__description {
  padding: 20px;
  background-color: $bgcGrid;
  justify-content: center;
  color: $priColor;
  border-radius: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
